<footer>
    <div class="f-info">
    <div class="f-info-social">
        <a><i class="fa-brands fa-facebook"></i></a>
        <a><i class="fa-brands fa-instagram"></i></a>
        <a><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand"><i class="fa-regular fa-copyright"></i>PraniShant Pvt Ltd</div>
    <div class="f-info-brand">Made with&nbsp;<i class="fa-regular fa-heart"></i>&nbsp;by ARYA</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    </div>
</footer>